<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-note>getUserEmail()</ion-note>
      </ion-list>

      <ion-buttons>
        <ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
            Logout
          </ion-button> 
      </ion-buttons>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>